@import url(//db.onlinewebfonts.com/c/9038d3ef6ba335cfbb462c595684781a?family=LinotypeSyntaxLetterW01-Lt);

* {
    font-family: 'LinotypeSyntaxLetterW01-Lt';
    font-size: 15px;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}


/* Begin root classes */

.flex {
    display: flex;
    gap: 0.5rem;
}

.container {
    display: flex;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    justify-items: center;
}

.clear {
    width: 75%;
    opacity: 0.1;
}

.clear>hr {
    color: #2C82C9;
}


.list {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.list-link {
    text-decoration: none;
    text-align: center;
    color: #5A5A5A;
    font-size: 0.8rem;
    text-align: center;
    align-items: center;
    display: flex;
}

.list-link:hover {
    color: #1136C7;
}

.ml {
    margin-left: 0.5rem;
}

.mr {
    margin-right: 0.5rem;
}

.text-success {
    color: #2ecc71;
}

.text-danger {
    color: #E01931;
}

.text-warning {
    color: #e67e22;
}

.text-dark {
    color: #181303;
}

.text-primary {
    color: #1136C7;
}

.btn {
    outline: none;
    border: none;
    cursor: pointer;
}

.link {
    text-decoration: none;
    position: relative;
}

.title {
    font-size: 16px;
    color: #181303;
}

.title:hover {
    color: #1136C7;
}

.btn-danger {
    background-color: #f0dddf;
    color: #E01931;
    transition: background-color ease 0.3s;
}

.btn-danger:hover {
    background-color: #E01931;
    color: #fff;
}

.btn-success {
    background-color: #e0eed7;
    color: #27ae60;
    transition: background-color ease 0.3s;
}

.btn-success:hover {
    background-color: #27ae60;
    color: #fff;
}

.btn-primary {
    background-color: #dde0f0;
    color: #1136C7;
    transition: background-color ease 0.3s;
}

.btn-primary:hover {
    background-color: #1136C7;
    color: #fff;
}

.btn-warning {
    background-color: #f5f2ea;
    color: #e67e22;
    transition: background-color ease 0.3s;
}

.btn-warning:hover {
    background-color: #e67e22;
    color: #181303;
}

input {
    outline: none;
}

.font-size-1 {
    font-size: 2rem;
}

.badge {
    border: none;
    outline: none;
    margin: 0 0.2rem;
    background-color: #5A5A5A;
    border-radius: 0.3rem;
    padding: 0 0.4rem;
    color: #fff;
    text-align: center;
}

.badge-danger {
    background-color: #E01931;
}

/* Begin dark theme */
body.active {
    background-color: #181303;
}

/* End dark theme */

/* End root classes */

/* Begin alert */

.alert {
    display: none;
    justify-content: space-between;
    padding: 0 1rem;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.alert-primary {
    background: linear-gradient(to right, #2C82C9 80%, #E01931);
}

.alert-content {
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 0.9rem;
    color: #fff;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.btn-close {
    background-color: inherit;
    color: #fff;
    font-size: 1.5rem;
}

.btn-dark {
    background-color: #181303;
    margin: 0 0.5rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
    text-decoration: none;
    color: #fff;
}

.alert.active {
    display: flex;
}

/* End alert */

/* Begin base navbar */

.base-navbar {
    font-size: 0.3rem;
    width: 80%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 1rem 0px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.font-size-btns {
    border: 1px solid #1136C7;
    gap: 0;
    border-radius: 0.3rem;
}

.btn-font-size {
    background-color: inherit;
    padding: 0 1rem;
    margin: 0;
    color: #1136C7;
    transition: background-color ease 0.5s;

}

.btn-font-size:hover {
    background-color: #1136C7;
    color: #fff;
}

.btn-font-size.active {
    background-color: #1136C7;
    color: #fff;
}

.btn-theme {
    background-color: inherit;
    text-align: center;
    padding: 0 1rem;
    color: #181303;
    display: none;
    transition: background-color 0.5s ease;
}

.btn-theme.active {
    display: inline;
}

.btn-theme:hover {
    color: #1136C7;
}

.social-list>li>a {
    font-size: 1.5rem;
}

/* End base navbar */

/* Begin navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    justify-items: center;
    align-items: baseline;
    width: 75%;
    position: relative;
}

.img {
    width: 100%;
    height: auto;
}

.logo {
    width: 138px;
    height: 30px;
}

.dropdown>.list-link {
    font-size: 1rem;
    height: 4rem;
}

.dropdown-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 1rem;
    padding: 1.5rem 1.5rem;
    width: 100%;
    border-radius: 0.2rem;
    box-shadow: 0.2rem 0.2rem 1rem gray;
    display: none;
    position: absolute;
    z-index: 2;
    animation: drop 0.3s ease;
    width: 10%;
    min-width: 200px;
    max-width: 10%;
    opacity: 0;
}

.drop-link {
    color: #181303;
    font-size: 1rem;
    width: 100%;
    display: inline;
    word-wrap: break-word;
}

.drop-link.active,
.list-link.active {
    color: #1136C7;
    font-weight: 900;
}

.list-item.active {
    list-style-type: disc;
    color: #1136C7;
}

.dropdown:hover .dropdown-item {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

@keyframes drop {
    0% {
        opacity: 0;
        transition: all ease 1s;
    }

    100% {
        opacity: 1;
    }
}


.lifestyle-sections {
    display: none;
    flex-direction: column;
    width: 100%;
    height: auto;
    animation: lifestyle ease 1s;
    box-shadow: 0.1rem 0.1rem 15px gray;
    border-radius: 0.5rem;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: flex-start;
    gap: 5rem;
    padding: 1rem;
    z-index: 1;
    position: absolute;
    width: 60%;
    padding: 2%;
    background-color: #fff;

}

@keyframes lifestyle {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.lifestyle:hover .lifestyle-sections {
    display: flex;
}

.lifestyle-sections.active {
    display: flex !important;
}

.last-posts {
    display: flex;
    gap: 1rem;
}

.post {
    width: 25%;
}

.img {
    width: 100%;
    height: 100%;
}

.img-lifestyle {
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}

.membership {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    background-color: #e8effd;
    padding: 0 1rem;
    text-align: center;
    border-radius: 0.5rem;
    width: 25%;
}

.date,
.auther {
    text-transform: uppercase;
    font-size: 15px;
    color: #5A5A5A;
}

.btn-plane {
    background-color: #f1c40f;
    padding: 1rem;
    border-radius: 0.2rem;
    color: #181303;
    margin-top: 1rem;
    transition: opacity 0.3s ease;
}

.btn-plane:hover {
    opacity: 0.9;
}

.trand-tags {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.trand-tags>span {
    color: #5A5A5A;
}

.btn-tag {
    padding: 0.6rem 1rem;
    border-radius: 0.2rem;
    font-size: 15px;
    text-transform: capitalize;
}

.btn-subscribe {
    background-color: #E01931;
    padding: 0.4rem;
    color: #fff;
    border-radius: 0.2rem;
    font-size: 14px;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.btn-subscribe:hover {
    background-color: #b61a2c;
}

#navbarMenuBtn {
    display: none;
}

.btn-search,
.btn-navbar {
    background-color: #fff;
    font-size: 18px;
}

.btn-search:hover,
.btn-navbar:hover {
    color: #1136C7;
}

.search {
    position: absolute;
    top: 5rem;
    z-index: 4;
    right: 2rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 0.5rem gray;
    padding: 0.5rem;
    display: none;
    border-radius: 0.3rem;
}


.search.active {
    display: flex;
    animation: show 0.5s ease;
}

.search.fade {
    animation: fade 0.5s ease;
    display: none;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.search-input {
    outline: none;
    padding: 0.8rem;
    border: 1px solid #27ae60;
    border-radius: 0.3rem;
    border-end-end-radius: 0;
    border-start-end-radius: 0;
}

.search-btn {
    padding: 0.8rem;
    background-color: #27ae60;
    color: #fff;
    border-end-end-radius: 0.3rem;
    border-Start-end-radius: 0.3rem;
    font-weight: 700;

}

.offcanvas {
    display: none;
    position: fixed;
    flex-direction: column;
    width: 25%;
    height: 100%;
    z-index: 10;
    background-color: #fff;
    top: 0;
    padding: 2%;
    align-items: flex-end;
    justify-content: flex-start;
    box-shadow: 0.1rem 0.1rem 1rem gray;
    gap: 1rem;
    overflow: scroll;

}

.offcanvas.active {
    display: flex;
    animation: offcanvas 0.5s ease;
}

.offcanvas-navbar.active {
    display: flex;
    overflow: scroll;
    animation: offcanvas-navbar 0.5s ease;
}

@keyframes offcanvas {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes offcanvas-navbar {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.offcanvas>.header {
    width: 100%;
    height: auto;
}

.offcanvas>.header>.title {
    height: 25%;
    justify-self: flex-start;
    align-self: flex-start;
}

.content {
    color: #5A5A5A;
    font-size: 14px;
}

.offcanvas>.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
}

.close {
    font-size: 2rem;
    color: #181303;
    transition: color 0.3s ease;
    position: fixed;
}

.close:hover {
    color: #E01931;
}

.offcanvas>.body {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.offcanvas-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.offcanvas-list>.list-item>.list-link {
    font-size: 1.5rem;
    color: #5A5A5A;
}

.offcanvas-list>.list-item>.list-link:hover {
    color: #1136C7;
}

.offcanvas>.body>.membership {
    width: 80%;
    padding: 1rem 1rem;
}

.offcanvas>.footer {
    width: 100%;
    height: auto;
    justify-self: flex-end;
}

.offcanvas>.footer>a {
    color: #5A5A5A;
    text-align: center;
}

.offcanvas-navbar>.footer>.membership {
    width: 100%;
    padding: 1rem;
}

.sm-list {
    display: none;
    margin-top: 1rem;
    background-color: #ebefff;
    border-radius: 0.3rem;
    padding: 1rem;
    width: 50%;
    height: auto;
}

.sm-list-link {
    font-size: 15px;
    word-break: break-all;
}

.sm-list.active {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: sm-list 1s ease;
}

@keyframes sm-list {
    0% {
        transform: translateY(-10px);
        /* opacity: 0; */
        transform: scale(0);
    }

    100% {
        transform: translateY(0);
        /* opacity: 1; */
        transform: scale(1);
    }
}

/* End Navabar */
/* Begin trending */
.trending {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: flex-start;
    width: 75%;
    background-color: #e4eafd;
    padding: 0.2rem 1rem;
    border-radius: 0.3rem;
    /* max-height: 5rem; */
}

.trending>div {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 0.3rem;
}

.trending-btn {
    background-color: #1136C7;
    padding: 0.3rem 1rem;
    color: #fff;
    border-radius: 0.3rem;
}

.trending-content {
    color: #5A5A5A;
    display: none;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 1rem;
    word-break: break-all;
    word-wrap: break-word;
}

.trending-content.active {
    display: inline;
    animation: trend-show ease 1s;
}

@keyframes trend-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.next,
.perv {
    color: #5A5A5A;
    background-color: #fff;
    font-size: 2rem;
    border-radius: 50%;
    transition: all ease 0.3s;
    cursor: pointer;
}

.next:hover,
.perv:hover {
    background-color: #1136C7;
    color: #fff;
}

/* End trending */

/* Begin Slider */

.slider {
    display: flex;
    gap: 0.5rem;
    width: 75%;
    height: 100%;
    margin-top: 1rem;
}

.slide-item {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    justify-items: flex-end;
    border-radius: 0.5rem;
    padding: 1rem;
}

.star {
    width: 50%;
    position: relative;
    height: 500px;
}

.slider-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    border-radius: 0.5rem;
    transition: all ease 0.3s;
}

.slide-tag {
    margin: 0 2rem;
    padding: 0.3rem;
}

.slide-title {
    margin: 0 2rem;
}

.slide-title>h2 {
    color: #fff;
    font-size: 2rem;
}

.slide-title>.title:hover {
    text-decoration: underline;
    color: #fff;
}

.slide-content {
    color: #fff;
    margin: 0 2rem;
    background-color: #312121b7;
    padding: 1rem;
    border-start-start-radius: 1.5rem;
    border-end-start-radius: 1.5rem;
}

.info {
    margin: 0 2rem;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: #312121b7;
    width: 100%;
    border-start-start-radius: 1.5rem;
    border-end-start-radius: 1.5rem;
}

.auther-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.auther {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 0.51rem;
    color: #fff;
}

.slide-date {
    color: #fff;
    margin: 0 1rem;
}

/* End Slider */
/* Media Query */

@media screen and (max-width: 900px) {
    .alert-content {
        flex-direction: column;
        padding: 0.5rem;
    }

    .base-navbar,
    .clear,
    .navbar-list {
        display: none;
    }

    .navbar {
        width: 90%;
    }

    .btn-subscribe {
        display: none;
    }

    #navbarMenuBtn {
        display: inline;
    }

    .sm-menu {
        display: flex;
        flex-direction: column;
    }

    .sm-list {
        flex-direction: column;
        align-self: flex-start;
        justify-self: flex-start;
    }

    .dropdown-item {
        flex-direction: column !important;
        display: flex;
    }

    .lifestyle-sections {
        flex-direction: column;
    }

    #offcanvasClose,
    #offcanvasNavbarClose {
        justify-self: center;
        align-self: center;
    }

    .offcanvas {
        width: 100%;
        height: 100%;
        position: fixed;
    }

    .trending {
        width: 90%;
        flex-direction: column;
    }

    .next,
    .perv {
        display: none;
    }

    .search {
        top: 50px;
    }
}